<!DOCTYPE html>
<html>
<head>
	<title>Internship Preference</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<style>
	input.ng-invalid {
    	background-color: lightblue;
	}
</style>
<body>
<h1><font color="red"><center>Apply now!</center></font></h1>

<div ng-app = "myApp" ng-controller="myCtrl">
<form ng-app = "myApp" name="myForm">
    <strong>Name:</strong> <input name="myName" ng-model="Text1" required><br/><br/>
    <strong>Email address:</strong> <input name="myEmail" ng-model="Text2" required><br/><br/>
    <div ng-controller="myCtrl">
    	<strong>Area of study:</strong><select ng-model="selectedName" ng-options="x for x in fields">
		</select><br/><br/>
	</div>
	<div ng-controller="myCtrl1">
		<strong>Year of study:</strong><select ng-model="selectedYear" ng-options="x for x in fields">
		</select><br/><br/>
	</div>
	<strong>CGPA/Percentage(till now):</strong> <input name="grade" ng-model="number" required><br/><br/>
	<strong>Skills:</strong> <input name="mySkills" ng-model="Text3" required><br/><br/>
	<div ng-controller="myCtrl2">
		<strong>Country preference:</strong><select ng-model="selectedCountry" ng-options="x for x in fields">
		</select><br/><br/>
	</div>
	
    <strong>Why do you apply for this particular internship?(200 characters)</strong> <br/> <input name="sop" ng-model="longtext" ng-maxlength=200 required>
    <div role="alert">
    	<span class="error" ng-show="myForm.input.$error.required">
      		Required!</span>
     </div>
</form>


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.fields = ["Computer Science", "Electronics and Communication", "Electrical", "Civil", "Mechanical", "Chemical", "Textile", "Others"];
});

app.controller('myCtrl1', function($scope) {
    $scope.fields = ["First year", "Second year", "Third year", "Fourth year"];
});

app.controller('myCtrl2', function($scope) {
    $scope.fields = ["United States", "Australia", "India", "Canada", "China", "Russia", "France", "United Kingdom", "Brazil", "South Africa"];
});

</script>

</body>
</html>
